/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;


}

.invoice-container {
    width: 297mm;
    height: 210mm;
    margin: 0;
    padding: 20px;
    page-break-after: always;
    /* Ensure each receipt is on a separate page when printing */
}

.col {
    border: 2px solid black;
}

.header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 8px;
}

.header h1 {
    color: #333;
}

.address-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.bill-to,
.pick-up,
.order-info {
    flex: 1;
}

.address-info h2 {
    color: #333;
}

.book-orders,
.copy-details {
    padding: 20px;
}

.book-orders h2,
.copy-details h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}